.clientes>img{
	margin-top: 50px;
	margin-bottom: 100px;
}


.clientesBanner{
	display: flex;
	flex-direction: row;
	margin-bottom: 100px;
	border: 2px solid red;
}

.clientesBanner div{
	background-color:var(--logoColort);
	color: var(--gray-300);
	font-size: 20px;
	font-weight:700;
	font-style: italic;
	width: 25%;
	text-align: center;
	display: flex;
	flex-direction: column;
	padding: 20px 0 40px 0;
}

.clientesBanner span{
	font-size: 100px;
}




@media(max-width:1000px){
	.clientes>div{
		font-size: 20px;
	}
	.clientesBanner{
		flex-direction: column;
		width: 100%;
	}
	.clientesBanner div{
		width: 100%;
	}
}
