.licencias{
	font-size: 42px;
	text-align: center;
	margin: 100px 0;
}


.clientesLista{
	margin-bottom: 100px ;
	text-align: center;
	width: 100%;
	padding: 20px;
	font-size: 40px;
	background-color: var(--logoColorT);
	color: var(--gray-400);
}


.iconos{
	display: flex;
	justify-content: space-around;
	margin-bottom: 60px;
	background-color: white;
}

.iconos>div>img{
	width: 200px;
}



.iconos>div{
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}



.iconos>div>p{
	font-size: 16px;
	margin-top: auto;
	font-weight: bold;
}



@media(max-width:1000px){
	.iconos{
		flex-direction: column;
	}
	.iconos>div>p{
		margin-top: 10px;
	}
	.iconos>div{
		margin: 40px;
	}
}







.iconos2{
	display: flex;
	justify-content: space-around;
	margin-bottom: 60px;
	background-color: white;
	box-sizing: content-box;
	align-items: center;
}

.iconos2>div>img{
	width: 250px;
	margin: auto;
}



.iconos2>div{
	margin: 20px 0;
	display: flex;
	flex-direction: column;


}




@media(max-width:1000px){
	.iconos2{
		flex-direction: column;
	}
	.iconos2>div{
		margin: 60px;
	}
}



